node_modules
dist
.env
.env.local
.env.*
!.env.example
.envrc
.envrc.local
.envrc.*
apps/**/.env
apps/**/.env.local
apps/**/.env.*
!apps/**/.env*.example
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

